[user]
	email = cuongnb14@gmail.com
	name = Cuong Nguyen
[alias]
	co = checkout
	s = status
	c = commit -m
	a = add
	d = diff
	p = pull origin
	ps = push origin
	l = log
	ll = log --oneline
	lg = log --graph
	lga = log --graph --all
	rs = remote set-url origin
	rg = remote get-url origin
[push]
	default = matching
